/* icons */
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .icon img {
    max-height: 50px;
    max-width: 50px;
    margin-right: 2rem;
    transition: 0.3s ease;
  }
  .icon img:hover {
    transform: scale(1.2);
  }
  @media only screen and (min-width: 900px) {
    .leagues {
      grid-template-columns: repeat(3, 1fr);
    }
    .main-content {
      padding: 2rem 5rem;
    }
  }