.customHeader{
    background-image: url('https://wallpapercave.com/wp/wp2839196.jpg');
    height: 200px;
    width: 100%;
    object-fit: fill;
    background-repeat: no-repeat;
    background-position: center;
}


.customHeader p{
    font-size: 50px;
    font-family: 'Monoton', cursive;
}
.mainClass{
    color: white;
    background-color: #06152C;
}
.detailsClass{
    color: white;
    background-color: #FD6A02;
}